<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375724909820-hr3dtvm4tgo4n3s186tp632b3coap7vb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375724909820-hr3dtvm4tgo4n3s186tp632b3coap7vb</string>
	<key>API_KEY</key>
	<string>AIzaSyDbYoQSd2PSynfGEPpIC6kRV1dOI5yDbV8</string>
	<key>GCM_SENDER_ID</key>
	<string>375724909820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beytasdenizcan.LoginScreen</string>
	<key>PROJECT_ID</key>
	<string>swiftuiloginscreen</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuiloginscreen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375724909820:ios:47499a39e5f0a03578a379</string>
</dict>
</plist>